.Checkbox-container {
  margin-top: 30px;
  width: 30px;
  height: 30px;
}
.Checkbox {
  width: 0;
  height: 0;
  opacity: 0;
}
.Checkbox-face {
  display: flex;
  width: 30px;
  height: 30px;
  border: 4px solid rgba(49, 78, 173, 0.568);
  transition-duration: 0.1s;
  position: relative;
  top: -30px;
}
.Checkbox:checked ~ .Checkbox-face {
  background-color: rgba(49, 78, 173, 0.568);
  transition-duration: 0.1s;
}
.Checkboxes-container {
  width: fit-content;
}
.color-picker {
  opacity: 0;
  display: block;
  margin: 5px auto 0px;
  transition: 0.6s;
}
.radio-color {
  width: 0;
  height: 0;
  opacity: 0;
}
.radio-text {
  border: 4px solid rgba(49, 78, 173, 0.568);
  color: rgb(49, 78, 173);
  margin: 10px;
  padding: 3px;
  transition: 0.6s;
}
.radio-color:checked ~ .radio-text {
  background-color: rgba(49, 78, 173, 0.568);
  color: #eee;
  transition: 0.6s;

}
.radio-color:checked ~ .color-picker {
  opacity: 1;
  margin: 5px auto 40px;
  transition: 0.6s;
}
button {
  background-color: transparent;
  border: 4px solid rgba(49, 78, 173, 0.568);
  color:rgb(49, 78, 173);
  margin: 5px auto;
  transition: 0.6s;
}
.button-active {
  background-color: rgba(49, 78, 173, 0.568);
  color: #eee;
  transition: 0.6s;
}
.button-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.inputs-container {
  min-width: 185px;
  max-width: 20vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.input {

  width: 20%;

  max-width: 60px;
  min-width: 47px;

  text-align: center;

  border: 1px solid rgba(49, 78, 173, 0.568);

}
.span {
  display: block;
  background-color: rgba(49, 78, 173, 0.568);
  color: #eee;
  width: 20px;
  text-align: center;
  padding: 5px;
}
main {
  justify-content: center;
  align-items: center;
  display: flex;
}
main > * {
  min-width: 600px;
  width: 50vw;
  flex-wrap: wrap;
}
.list{
  display: flex;

}
.list > .half {
  flex-wrap: wrap;
  margin: 20px;

}
.list-item {
  display: flex;
  flex-wrap: wrap;
}
.value {
  border: 4px solid rgba(49, 78, 173, 0.568);
  padding: 5px;
}
.id {
  background-color: rgba(49, 78, 173, 0.568);
  border: none;
  color: #eee;
}
.color {
  display: block;
  width: 60px;
  height: 30px;
  border: none;
  margin: auto 5px;
}